body {
  background: #0f172a;
  color: #fff;
  font-family: Tahoma;
  padding: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  margin: 5px;
  padding: 10px 14px;
  background: #2563eb;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: #020617;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #1e293b;
  text-align: center;
}

th {
  background: #020617;
}

button {
  cursor: pointer;
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.box {
  background: #020617;
  padding: 20px;
  width: 400px;
  border-radius: 14px;
  animation: scale .3s;
}

@keyframes scale {
  from {transform: scale(.8);}
  to {transform: scale(1);}
}

input {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.unit {
  background: #020617;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel {
  background: #dc2626;
}
