body {
  font-family: Tahoma;
  background: #f5f5f5;
  direction: rtl;
  padding: 20px;
}

input, select, button {
  padding: 8px;
  margin: 5px;
}

nav a {
  display: inline-block;
  padding: 10px;
  background: #333;
  color: #fff;
  text-decoration: none;
  margin: 5px;
}
