@page {
  size: 80mm auto;
  margin: 0;
}

body {
  width: 80mm;
  margin: 0;
  padding: 6px;
  font-family: Tahoma;
  direction: rtl;
  font-size: 12px;
}

.invoice {
  width: 100%;
}

.center {
  text-align: center;
}

.row,
.total-row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

hr {
  border: 1px dashed #000;
  margin: 6px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 3px 0;
}

.total-row {
  font-size: 14px;
  font-weight: bold;
}
