@page {
  size: 80mm auto;
  margin: 0;
}

body {
  width: 80mm;
  font-family: Tahoma;
  direction: rtl;
  margin: 0;
  padding: 5px;
}

.invoice {
  text-align: center;
}

h2 {
  margin: 5px 0;
}

hr {
  border: 1px dashed #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

th, td {
  text-align: center;
  padding: 2px;
}

.total {
  font-size: 14px;
  font-weight: bold;
}

.thanks {
  font-size: 12px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
